*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(19, 70, 53);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 20px;
}
.msg-container{
    color: #A3B18A;
    text-align: center;
}
#msg{
    font-size: 25px;
    color: aliceblue;
    margin-top: 10px;
}
.hide{
    display: none;
}
body>h1{
    color:aliceblue;
}
.container{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-wrap: wrap;
    height: 340px;
    width: 340px;
    gap: 0px 12px;
}
.box{
    width: 100px;
    height: 100px;
    border-radius: 16px;
    border: none;
    font-size: 50px;
    background-color: #F1F1F1;
    color: #FF9671;
    box-shadow: inset 0px 0px 20px rgba(19, 70, 53, 0.5),  0px 0px 20px rgba(0, 0, 0, 0.4);
}
.reset{
    width: 120px;
    height: 30px;
    border-radius: 10px;
    border: none;
    font-size: 18px;
    background-color:#A3B18A;
    color: #2F2F2F;
    font-weight: 600;
    padding: 5px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);;
}